html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: black;

}

.logo{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 98px;
    padding: 10px;
    align-items: center;
    left: auto;
}

h4{
    color: white;
}